::selection {
	background: #EB2727;
}
body {
	color: #FFF;
	font-family: 'Rubik', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: -0.03em;
	background: #0D0D0D;
}
h1, h2 {
	margin: 0;
	font-family: 'Oswald', sans-serif;
	font-size: 70px;
	line-height: 80px;
	letter-spacing: 0em;
	text-transform: uppercase;
}
h2 {
	-webkit-text-stroke: 1px #FFF;
	color: transparent;
}
a {
	color: #FFF;
	text-decoration: none;
	transition: all 0.3s;
}
a:hover {
	color: #FFF;
	text-decoration: none;
}



/*HEADER*/

.header {
	position: fixed;
	width: 100%;
	height: 57px;
	z-index: 200;
}
.header span.button-menu {
	display: block;
	width: 30px;
	height: 12px;
	margin: 40px 0 0;
	cursor: pointer;
}
.header span.button-menu span {
	display: block;
	width: 30px;
	height: 2px;
	background: #FFF;
	transition: all 0.3s;
}
.header span.button-menu span.second {
	width: 20px;
	margin: 8px 0 0 0;
}
.header span.button-menu:hover span.first {
	width: 20px;
}
.header span.button-menu:hover span.second {
	width: 30px;
}
.header .connect {
	display: flex;
	width: 100%;
	padding: 33px 0 0;
	justify-content: flex-end;
}
.header .connect .instagram {
	display: block;
	width: 14px;
	height: 14px;
}
.header .connect .telegram {
	display: block;
	width: 17px;
	height: 14px;
	margin: 0 20px 0;
}
.header .connect .phone {
	display: inline-block;
	padding: 1px 0 0;
	font-size: 15px;
	font-weight: 500;
}



/*COVER*/

.cover {
	height: 650px;
	background: url(../img/background.png) no-repeat;
	background-size: cover;
}
.cover .container,
.cover .row {
	height: 100%;
}
.cover .col-md-6 {
	display: flex;
	height: 100%;
	align-items: center;
}
.cover .images {
	display: flex;
	width: 100%;
	height: 410px;
	justify-content: space-between;
}
.cover .images img {
	position: absolute;
}
.cover .images img.img01 {
	right: 0;
	margin: 0 15px 0 0;
	z-index: 10;
}
.cover .images img.img02 {
	left: 0;
	margin: 50px 0 0 15px;
	z-index: 11;
}
.cover .images img.logotype {
	width: 140px;
	height: 140px;
	left: 50%;
	margin: 135px 0 0 -70px;
	z-index: 12;
}



/*ABOUT*/

.about {
	min-height: 670px;
	padding: 90px 0 0;
	background: url(../img/bg-about.png) no-repeat center top;
}
.about p.text {
	padding: 50px 100px 0;
	font-weight: 500;
}
.about p.textmore {
	padding: 30px 0 0 230px;
	font-size: 14px;
}
.about h2 {
	position: absolute;
	margin: -160px 0 0 410px;
}
.about .features {
	padding: 145px 0 0 0;
}
.about .features .item {
	width: 33%;
	float: left;
	margin: 0 0 55px;
	text-align: center;
}
.about .features .item .image {
	display: inline-flex;
	width: 50px;
	height: 50px;
	margin: 0 0 15px 0;
	border: 1px solid #565656;
	justify-content: center;
}
.about .features .item span {
	display: block;
	font-size: 14px;
	line-height: 21px;
	font-family: 'Oswald';
	text-transform: uppercase;
}
.about .photo {
	float: right;
	margin: 35px 0 0;
}
#miniCarousel a.carousel-control-next,
#miniCarousel a.carousel-control-prev {
	left: 0;
	margin: 360px 0 0 0;
	opacity: 0.3;
	transition: all 0.3s;
}
#miniCarousel a.carousel-control-prev {
	margin: 360px 0 0 -35px;
}
#miniCarousel a.carousel-control-next:hover,
#miniCarousel a.carousel-control-prev:hover {
	opacity: 1;
}



/*GALLERY*/

.gallery {
	padding: 40px 0 0;
}
.gallery .row,
.gallery .col-md-3 {
	padding-left: 0;
	padding-right: 0;
}
.gallery a {
	display: block;
	overflow: hidden;
}
.gallery a img {
	width: 100%;
}
.gallery a span {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	transition: all 0.3s;
	opacity: 0;
}
.gallery a span img {
	display: block;
	position: absolute;
	width: 34px;
	height: 34px;
	top: 50%;
	left: 50%;
	margin: -17px 0 0 -17px;
}
.gallery a:hover span {
	opacity: 1;
}



/*CONTACTS*/

.contacts .case {
	padding: 40px 0;
}
.contacts .case span {
	display: block;
	margin: 35px 0 10px;
	opacity: 0.5;
}
.contacts .case strong {
	display: block;
	
	font-weight: normal;
	font-family: 'Oswald';
	font-size: 30px;
	text-transform: uppercase;
}
.contacts .case strong a {
	display: inline-block;
	margin: 0 0 15px;
}
.contacts .case h2 {
	float: right;
	margin: 60px 60px 0 0;
	opacity: 0.1;
}
.contacts .map {
	position: absolute;
	width: 50%;
	height: 550px;
	overflow: hidden;
	z-index: 200;
	right: 0;
}
.contacts iframe {
	width: 100%;
	height: 580px;
	border: none;
}