::selection {
	background: #EB2727;
}
body {
	color: #FFF;
	font-family: 'Rubik', sans-serif;
	font-size: 15px;
	letter-spacing: -0.03em;
	background: #0D0D0D;
}
h1 {
	margin: 0;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 0em;
}
a {
	color: #FFF;
	text-decoration: none;
	transition: all 0.3s;
}


.container {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}


.main {
	width: 100%;
	height: 100vh;
	background: url(../img/background.png) no-repeat;
	background-size: cover;
}
.main header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 18px;
	padding: 40px 0 0 0;
}
.main header span.button-menu {
	display: block;
	width: 30px;
	height: 12px;
	cursor: pointer;
}
.main header span.button-menu span {
	display: block;
	width: 30px;
	height: 2px;
	background: #FFF;
	transition: all 0.3s;
}
.main header span.button-menu span.second {
	width: 20px;
	margin: 8px 0 0 0;
}
.main header span.button-menu:hover span.first {
	width: 20px;
}
.main header span.button-menu:hover span.second {
	width: 30px;
}
.main header .connect {
	display: flex;
	align-items: center;
}
.main header .connect a.soc {
	display: inline-block;
	max-width: 17px;
	height: 14px;
	margin: 0 20px 0 0;
}


.main .center {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 480px;
}
.main .center h1 {
	padding: 150px 0 0 0;
	font-size: 70px;
	line-height: 80px;
	color: transparent;
	text-transform: uppercase;
	-webkit-text-stroke: 1px #FFF;
}
.main .center h1 span {
	color: #FFFFFF;
	-webkit-text-stroke: 0;
}
.main .center .images {
	width: 510px;
	height: 410px;
	padding: 70px 0 0 0;
}
.main .center .images img {
	position: absolute;
}
.main .center .images img.img01 {
	margin: 0 0 0 240px;
	z-index: 10;
}
.main .center .images img.img02 {
	margin: 50px 0 0 0;
	z-index: 11;
}
.main .center .images img.logotype {
	width: 140px;
	height: 140px;
	margin: 135px 0 0 185px;
	z-index: 12;
}


a.consultation {
	position: fixed;
	z-index: 1000;
	display: block;
	width: 300px;
	height: 60px;
	bottom: 0;
	padding: 20px 0 0 30px;
	color: #000000;
	background: #FFFFFF;
}
a.consultation span.first {
	display: block;
	width: 100%;
}
a.consultation span.second {
	display: block;
	width: 30px;
	height: 2px;
	margin: 20px 0 0 240px;
	background: #000000;
	transition: all 0.2s;
}
a.consultation:hover span.second {
	width: 100px;
	margin: 20px 0 0 170px;	
}


.main .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	height: 100%;
}


/*.text-line text {
	stroke-dasharray: 500;
	stroke-dashoffset: 500;
	animation: dash 3s linear forwards;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 70px;
	line-height: 80px;
}
@keyframes dash {
	to {
		stroke-dashoffset: 0;
	}
}*/


.about {
	height: 400px;
}